/*=========*/
/* On Load */
/*=========*/

#music-section, #photography-section, #film-section,
#graphic-design-section, #contact-section {
  display:none;
}

/********************************************************/

/*========*/
/* Header */
/*========*/
.header-logo {
  font-size: 5em;
  font-family:"Milkshake", cursive;
  text-align:center;
}

@font-face {
    font-family: "Milkshake";
    src: url("../Milkshake/Milkshake.ttf") format("truetype");
}


/********************************************************/

/*========*/
/* Navbar */
/*========*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

nav li {
  font-size:1.2em;
}

nav a {
  text-decoration: none;
  text-transform:uppercase;
  font-family:"Open Sans Condensed", sans-serif;
  color:#A2AEBB;
  transition: .5s all;
  letter-spacing:1px;

}

nav a:hover {
  color:black;
  letter-spacing:2px;
  color: white;
  background-color:#48A9A6 !important;
}

.navbar-toggle {
  margin-right:0;
}

.navbar-toggle .icon-bar {
    background-color: #888;
}

@media (max-width:769px){
    .navbar-header {
        width: 100%;
        text-align: center;
        margin-top:1em;
  }
    .navbar-brand {
        display: block;
        float: none;
        font-size: 4em;
        font-family:"Milkshake", cursive;
        text-transform:lowercase;
        color:black;

    }

    h1 {
      display:none;
    }

    .header-logo {
      font-size: 1em;
      margin-left:.6em;
    }

    nav a:hover {
      color:black;
      letter-spacing:1px;
      color: none;
      background-color:transparent !important;
    }

    .content-container {
      width:90% !important;
    }

}

@media (min-width: 769px){
    .navbar-brand {
        display: none;
        font-size: 4em;
        font-family:"Milkshake", cursive;
        text-transform:lowercase;
        color:black;
    }
}

/********************************************************/

/*================================*/
/* Responsive Youtube Video Embed */
/*================================*/

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin: 3em 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/********************************************************/

/*================*/
/* Graphic Design */
/*================*/

.content-container {
  width:70%;
  margin:0 auto;
}

.graphic-design-images {
  width:100%;
  margin: 2em 0;
}


/* Home */
.personal-pic {
  width: 300px;
  border-radius:50%;
  text-align:center;
  margin:0 auto;
}
