html {
  text-align:center;
}

body {
  width: 75%;
  margin:0 auto;

}



/*header{
  text-align:center;
  margin: .5em 4em;
  width:75%;
}*/

span {
  font-size: 5em;
  font-family:"Milkshake", cursive;
}

.pictures {
  width:80%;
  margin: 1em 1em;
}

/*ul {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}*/



nav li {
  display:inline-block;
  font-size:1.2em;
  margin: .5em 1.2em;
}

nav a {
  text-decoration: none;
  text-transform:uppercase;
  font-family:"Open Sans Condensed", sans-serif;
  color:#A2AEBB;
  transition: .5s all;
  letter-spacing:1px;
  padding:.5em;
}

nav a:hover {
  color:black;
  letter-spacing:2px;
  color: white;
  background-color:#48A9A6;
}

.youtube-video {
  margin:1em 0;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin:0 auto;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}

.main-content {
  margin:0 auto;
  text-align:center;
}

.current-page {
  color:#48A9A6;
}

@font-face {
    font-family: "Milkshake";
    src: url("../Milkshake/Milkshake.ttf") format("truetype");
}
